@import "tailwindcss";

@theme {
  --font-sans: 'Vazirmatn', 'Segoe UI', Tahoma, sans-serif;
}

html, body, #root { height: 100%; }
body {
  direction: rtl;
  font-family: 'Vazirmatn', 'Segoe UI', Tahoma, sans-serif;
  background: #020617;
  color: #e2e8f0;
  overflow-x: hidden;
}
